<% if(locals.errormessage!=null) {%>
 
    <%locals.errormessage.forEach(error=>{%>
        <div class="alert alert-warning" role="alert">
           <%-error.param%>:<%-error.msg%>
          </div>
        <%})%>
<%}%>