<h2>Add new Book</h2>
<%- include('../partials/ErrorMessage.ejs')%>
<form action="/Book/Create" method="POST">
   <%- include('./Create_Edit.ejs') %>
   
    <button type="submit">Save</button>
    </form>

