<h1>All book</h1>
<form method="GET">
<div>
    <label>Name</label>
    <input type="text" name="Name">
</div>
<div>
    <label>PublishAfter</label>
    <input type="date" name="PublishAfter">
</div>
<div>
    <label>PublishPefore</label>
    <input type="date" name="PublishPefore">
</div>
<button type="submit">Search</button>
</form>
<div>
   
    <% books.forEach(book=>{%>
        <img height="150px" width="100" src="<%=book.ImagePath%>">
        <a href="/Book/<%- book.id%>/edit">Edit</a>|
   
        <a href="/Book/<%- book.id%>">View</a>
       <%- include('../partials/Delete',{url:`/Book/${book.id}`})%>


    <%}) %>

</div>