
<form action="/Author/Create" method="POST">
    <div>
        <label>Name</label>
        <input name="Name" value="<%= author.name %>" type="text">
    </div>
<button type="submit">submit</button>
</form>