<h1>All Authors</h1>
<table>
    <thead>
<th>AuthorName</th>
<th>Action</th>
    </thead>
 <% authors.forEach(author=>{%>
<tr><td><%- author.Name%></td><td>
    <a href="/Author/<%- author.id%>/edit">Edit</a>|
   
    <a href="/Author/<%- author.id%>">View</a>
   <%- include('../partials/Delete',{url:`/Author/${author.id}`})%>

</td></tr>


<% } )%>
</table>
